* 
{
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}

.container 
{
    display: flex;
    width: 90vw;
}

.slide
{
    width: 100px;
    border-radius: 50px;
    cursor: pointer;
    flex: 0.1;
    margin: 10px;
    transition: flex 0.7s ease-in;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body
{
    background-color: blueviolet;
}
.slide.active
{
    flex: 5;
}

@media (max-width: 480px) {
    .container {
      width: 100vw;
    }
}